/* style.css */

.ulVerse {
    text-decoration: underline;
    font-weight: bold;
}

/* class CountdownTimer */
.timer-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: auto;
}

.progress-bar {
    border: 2px solid black;
    background: gray;
    display: flex;
    gap: 2px;
    width: 200px; /* Keep progress bar width constant */
    justify-content: space-between;
}

.block {
    height: 20px;
    flex-grow: 1; /* Adjust width dynamically */
    background-color: green;
}

.status-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-self: flex-start; /* Align buttons to the left */
}